* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', 'Tahoma', sans-serif;
}

body {
  background-color: #fafafa;
  font-size: 14px;
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}